/*-------------------------------------------------

	- Proyect: Netflix ClonePage
	- Date: Jan 2020
	- Author: Bryan Rodríguez
	- Disclaimer: This project was made to practice web dev skills with educational non-profit purposes

-------------------------------------------------*/

/*-------------------------------------------------

                - General Setup -

-------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	font-family: "Roboto", sans-serif;
	font-size: 62.5%;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	letter-spacing: 0.1rem;
	min-width: 355px;
	max-width: 2000px;
	margin: 0 auto;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/*-------------------------------------------------

                - Reusables -

-------------------------------------------------*/

.row-max {
	max-width: 1140px;
	text-align: center;
	margin: 0 auto;
}

section {
	padding: 5rem 3%;
	border-bottom: 0.8rem solid #222;
	min-height: 50rem;
}

section h1 {
	text-align: left;
	margin: 0 0 2rem 0;
	font-size: 4.5rem;
	font-weight: 700;
	color: white;
	padding: 0;
	letter-spacing: 0.2rem;
}

section h2 {
	text-align: left;
	font-size: 2.5rem;
	font-weight: 400;
	color: white;
	padding: 0;
}

a:link,
a:visited {
	text-decoration: none;
	color: white;
}

/* - Buttons - */
.btn,
.btn:link,
.btn:visited {
	padding: 0.7rem 1.7rem;
	border-radius: 0.3rem;
	backface-visibility: hidden;
	border: none;
	cursor: pointer;
	transition: all 0.2s;
	font-size: 1.7rem;
	margin: 0;
	font-weight: 400;
	background-color: rgb(229, 9, 20);
	outline: none;
}

.btn-big,
.btn-big:link,
.btn-big:active,
.btn-big:visited {
	padding: 1.5rem 1.6rem;
	text-transform: uppercase;
	border-radius: 0;
	font-size: 2.6rem;
	margin: 0 auto;
	font-weight: 700;
	width: 30%;
}
.btn:focus {
	border: none;
	outline: none;
}

.btn:hover,
.btn:active {
	background-color: rgb(255, 40, 40);
}

/*-------------------------------------------------

                - Header -

-------------------------------------------------*/

header {
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.9) 0%,
			rgba(0, 0, 0, 0.7) 30%,
			rgba(0, 0, 0, 0.4) 50%,
			rgba(0, 0, 0, 0.7) 80%,
			rgba(0, 0, 0, 0.9) 100%
		),
		url(img/main-background.jpg);
	background-size: cover;
	background-position: center;
	height: 95vh;
	border-bottom: 0.8rem solid #222;
}

.header-disclaimer {
	color: red;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2rem;
	background-color: black;
	padding: 1rem;
}

.header-disclaimer a,
.header-disclaimer a:hover,
.header-disclaimer a:link,
.header-disclaimer a:visited {
	color: red;
	text-decoration: underline;
}

.logo {
	width: 17rem;
	margin-left: 4rem;
}

.sign-in {
	float: right;
	margin: 2.7rem 5.5rem 0 0;
}

.header-container {
	padding-top: 18vh;
	max-width: 74rem;
}

.header-container h1 {
	font-size: 5.5rem;
	font-weight: 700;
	color: white;
	padding: 0 5rem;
	margin: 0 auto 2rem auto;
	letter-spacing: 0.2rem;
}

.header-container h2 {
	font-size: 2.8rem;
	font-weight: 400;
	color: white;
	padding: 0;
	margin: 0 auto 3rem auto;
	letter-spacing: 0.1rem;
}

.email-input {
	font-size: 1.7rem;
	font-weight: 400;
	width: 70%;
	border: 0;
	color: black;
	padding: 2.5rem 1rem 1.6rem 1rem;
	margin: 0;
	float: left;
}

.contact-form {
	margin-bottom: 4rem;
	text-align: center;
}

.header-container h3 {
	font-size: 2rem;
	font-weight: 400;
	color: white;
	margin: 0;
}

/*-------------------------------------------------

                - Sections -

-------------------------------------------------*/

.video-container {
	position: relative;
}

.video-container img {
	position: absolute;
	width: 90%;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
}

.text-container {
	margin-top: 10%;
}
section img {
	width: 100%;
}
.video {
	margin-top: 4.5rem;
}
.video video {
	width: 69%;
	height: auto;
	z-index: 1;
}

.phone-container {
	position: relative;
}

.phone-card {
	position: absolute;
	top: 78%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 9rem;
	width: 28rem;
	border: 2px solid #777;
	background-color: black;
	border-radius: 1rem;
}

.phone-card .box {
	height: 7rem;
	width: auto;
	float: left;
	margin: 0.5rem 1rem;
}

.phone-card .download {
	height: 4rem;
	width: auto;
	float: right;
	margin: 2rem 1rem;
}

.text-0 {
	text-align: left;
	margin: 2rem 0 0.5rem 1rem;
	display: block;
	font-size: 1.6rem;
}

.text-1 {
	text-align: left;
	margin: 0rem 1rem;
	display: block;
	color: #0071eb;
	font-size: 1.2rem;
}
.phone-container .phone {
	width: 90%;
}

.video-container-dev {
	position: relative;
}

.video-container-dev img {
	position: absolute;
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -33%);
	z-index: 999;
}

.video-dev {
	margin-top: 3rem;
}
.video-dev video {
	width: 55%;
	height: auto;
	z-index: 1;
}

.only-mobile {
	display: none;
}

/*-------------------------------------------------

                - FQA -

-------------------------------------------------*/

.faq-container {
	max-width: 70rem;
}
.faq-container h1 {
	text-align: center;
}

.faq-list {
	list-style: none;
	max-width: 65rem;
	margin: 3rem auto 5rem auto;
}

.faq-item {
	text-align: left;
	padding: 0;
	margin-bottom: 0.8rem;
}

.faq-question {
	width: 100%;
	background-color: #303030;
	border: none;
	font-size: 1.9rem;
	text-align: left;
	padding: 0.9em 1.8rem;
	margin-bottom: 0.1rem;
	outline: none;
}

.faq-answer {
	background-color: #303030;
	border: none;
	font-size: 1.9rem;
	text-align: left;
	padding: 0rem;
}

.faq-container h3 {
	font-size: 2rem;
	font-weight: 400;
	color: white;
	margin: 0;
}
.faq-icon {
	float: right;
}

.hidden {
	font-size: 0;
	visibility: hidden;
	max-height: 0px;
	padding: 0rem;

	transition: max-height 0.2s ease-in;
}

.show {
	visibility: visible;
	padding: 0.9em 1.8rem;
	max-height: 50rem;
	font-size: 1.9rem;
}
/*-------------------------------------------------

                - FOOTER -

-------------------------------------------------*/

footer {
	margin: 4% 8%;
	color: #a6a6a6;
}

.footer-top {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}

.footer-nav {
	list-style: none;
	font-size: 1.3rem;
}

.footer-nav-item {
	display: inline-block;
	width: 23%;
	margin: 0 0.5% 2rem 0;
}
.footer-nav-item a {
	color: #a6a6a6;
}

.footer-nav-item a:hover {
	border-bottom: 1px solid #a6a6a6;
}

.footer-disclaimer {
	font-weight: 700;
	color: red;
	text-transform: uppercase;
	font-size: 2rem;
}

.footer-disclaimer a,
.footer-disclaimer a:hover,
.footer-disclaimer a:link,
.footer-disclaimer a:visited {
	color: red;
	text-decoration: underline;
}
